<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DigiScholar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>studentServlet</display-name>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>com.digischolar.studentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/studentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentloginServlet</display-name>
    <servlet-name>studentloginServlet</servlet-name>
    <servlet-class>com.digischolar.studentloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentloginServlet</servlet-name>
    <url-pattern>/studentloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.digischolar.upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postscholarshipservlet</display-name>
    <servlet-name>postscholarshipservlet</servlet-name>
    <servlet-class>com.digischolar.postscholarshipservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postscholarshipservlet</servlet-name>
    <url-pattern>/postscholarshipservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostScholarshipServlet</display-name>
    <servlet-name>PostScholarshipServlet</servlet-name>
    <servlet-class>com.digischolar.PostScholarshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostScholarshipServlet</servlet-name>
    <url-pattern>/PostScholarshipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>com.digischolar.DocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/DocumentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScholarshipActionSevlet</display-name>
    <servlet-name>ScholarshipActionSevlet</servlet-name>
    <servlet-class>com.digischolar.ScholarshipActionSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScholarshipActionSevlet</servlet-name>
    <url-pattern>/ScholarshipActionSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScholarshipActionServlet</display-name>
    <servlet-name>ScholarshipActionServlet</servlet-name>
    <servlet-class>com.digischolar.ScholarshipActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScholarshipActionServlet</servlet-name>
    <url-pattern>/ScholarshipActionServlet</url-pattern>
  </servlet-mapping>
</web-app>